@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-jungle {
  background-image: URL("../assets/jungle-background.gif");
}

.bg-wood {
  background-image: URL("../assets/wood-effect.png");
  background-repeat: repeat;
  background-size: 200px 200px;
}

.text {
  @apply font-sans text-white;
}
